*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --clo-one:#4444;

}


@font-face {
    font-family: vazir;
    src: url('./font/vazir/Vazir.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family:vazir;


}
