*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --clo-one:#4444;

}


@font-face {
    font-family: vazir;
    src: url('./font/vazir/Vazir.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family:vazir;


}

.line{
    height: 5px;
    width: 100px;
    background-color: aqua;
    border-radius: 50px;
}

.hero-sectin{

    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    align-items: center;
}

.hero-imag{

    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center
    
}
.hero-imag p , img , div{

    justify-self: center;
}

.hero-info{

    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.hero-info p {
    justify-self: center;
    align-self: center;
}
