*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --clo-one:#4444;
    --clo-two:#E2E3E5;
    --clo-three:#043382;
    --col-four:#808080;
    --col-five:#191919;
    --col-six:#0773BA;
    --radous:10px;



}


@font-face {
    font-family: vazir;
    src: url('./font/vazir/Vazir.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family:vazir;
    /* background-color: var(--col-five); */


}

.line{
    height: 5px;
    width: 100px;
    background-color: var(--clo-three);
    border-radius: 50px;
}
.lines{
    background-color: var(--clo-three);
    display: inline-block;
    width: 50px;
    height: 5px;
    border: solid 0px;
    border-radius: 50px;
}

a{
    text-decoration: none;
    color: rgb(234, 234, 234);
}

.about , .skils , .sabegrkar ,.amozesh , .project{

    margin-top: 50px;
}

p{
    /* color: var(--clo-one); */
}

/* hero styels */


.hero-sectin{

    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    align-items: center;
}

.hero-imag{

    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center
    
}
.hero-imag p , img , div{

    justify-self: center;
}
.icons-sotial {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;


}

.hero-info{

    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
   

}

.hero-info p {
   
    justify-self: center;
    align-self: center;
}


.icon {
   color: rgb(176, 176, 176);
   font-size: 1.5rem;
   
}

/* about styels */

.about{
    display: grid;
    justify-content: center;
    color: #e9e9e9;
}

 .about p{
    justify-self: center;
    margin-top: 10px;
 }

.afterone{
    background-color:var(--col-four);
    padding: 20px 50px 50px 50px;
    border-radius: var(--radous);
    border-radius: var();
}

/* amozesh styels */
.amozesh{
    display: grid;
    justify-content: center;
    color: #e9e9e9;
    
}

.amozesh p {
    justify-self: center;
    margin-top: 10px;
}

.amozesh div{
    background-color:var(--col-four);
    padding: 20px 70px 70px 70px;
    border-radius: var(--radous);
}

 /* sabegrkar styels */

 .sabegrkar{
    display: grid;
    justify-content: center;
    color: #e9e9e9;
 }

 .sabegrkar p {
    justify-self: center;
    margin-top: 10px;

 }
 .sabegrkar div{
    margin-top: 30px;
 }


 .one{
    background-color: var(--col-four);
    padding: 0px 80px 80px 80px;
    border-radius: var(--radous);
    
 }
/* skils styel */

.skils{
    display: grid;
    justify-content: center;
    color: #e9e9e9;
}


.skils p{
    justify-self: center;
    margin-top: 10px;

}
.two{
    background-color: var(--col-four);
    padding: 20px 70px 70px 70px;
    border-radius: var(--radous);

}

/* project */

.project{
    color: #e9e9e9;
    display: grid;
    justify-content: center;
}
.project a{
    justify-self: center;
    margin-top: 50px;
    padding-top: 50px;

}

.three{
    background-color: var(--col-four);
    padding: 20px 80px 80px 80px;
    border-radius: var(--radous);

}
.three p{
    margin-bottom: 15px;
}
